---
- name: "[{{ service_name }}]: deploy service"
  block:
  - name: "[{{ service_name }}]: deploy service"
    community.docker.docker_swarm_service:
      name: "{{ service_name }}"
      image: "{{ registry_name }}{{ service_name }}:{{ version }}"  # `version` var will be available because it is set up in deploy/tasks/main.yaml
      state: present
      networks:
        name: "{{ network_name }}"
      publish:
        - mode: ingress
          protocol: tcp
          published_port: 3001
          target_port: 80
  tags: "{{ service_name }}"
