---
- name: "[{{ service_name }}]: create a config"
  vars:
    env_file: "{{ lookup('template', '{{ service_name }}/{{ config_item }}.j2') }}"
  community.docker.docker_config:
    name: "{{ config_item }}"
    data: "{{ config_file | b64encode }}"
    labels:
      config: "{{ config_file | hash('sha1') }}" # dynamically create label based on config_file hash. In case config_file is changed, label will also be changed
    data_is_b64: true
    state: present
