---
- name: "[{{ service_name }}]: secret configuration"
  block:
    - name: "[{{ service_name }}]: create a secret"
      include: "secret-create.yaml"

  rescue:   # this is to handle a case when a secret is changed
    - name: "[{{ service_name }}]: deleting service"
      community.docker.docker_swarm_service:
        name: "{{ service_name }}"
        state: absent

    - name: "[{{ service_name }}]: create a secret"
      include: "secret-create.yaml"