---
- name: "[{{ service_name }}]: create a secret"
  vars:
    env_file: "{{ lookup('template', '{{ service_name }}/.env.j2') }}"
  community.docker.docker_secret:
    name: "{{ service_name }}.env"
    data: "{{ env_file | b64encode }}"
    labels:
      label_secret: "{{ env_file | hash('sha1') }}" # dynamically create label based on file hash. In case file with secret changed, label will also change
    data_is_b64: true
    state: present

- name: Debug
  vars:
    env_file: "{{ lookup('template', '{{ service_name }}/.env.j2') }}"
  debug: "{{ env_file }}"